<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <title>Election Aggregator Home</title>

  <!-- JQuery Core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <!-- D3.js -->
  <script src="https://d3js.org/d3.v3.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Checklist Model -->
  <script src="Checklist-model.js"></script>

  <!-- The most swaggy JS file known to man -->
  <script src="simpleStuff.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="DataAggApp">
  <div class="container" ng-controller="DataImportCtrl">
  <div align="center">
    <img src="img/logo_transparent.png" class="img-fluid" alt="Responsive image">
  </div>

    <div>
      <input type='file' id="input" ng-model="fileName" ng-init="" accept=".csv"/>
      <button type="button" id='button' class="btn btn-success btn-lg btn-block btn-main round">Select A File To Visualize</button>
    </div>  

    <div id="buttonModal" class="modal fade" role = "dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss = "modal">&times;</button><!-- close icon-->
            </div>
            <div class="modal-body">
              <h3 align="center">Select Chart Type</h3>
              <h5>File:</h5>
              <h5>{{fileName}}</h5>
              <hr>
              <div class = "row">
                <div class="col-lg-12 col-md-12 col-sm-12" align="center">
                  <button type="button" class="btn btn-primary btn-lg btn-chart-type" ng-click="chartTypeBtn('Pie')" data-dismiss="modal">Pie</button>
                  <button type="button" class="btn btn-primary btn-lg btn-chart-type" ng-click="chartTypeBtn('Bar')" data-dismiss="modal">Bar</button>
                  <button type="button" class="btn btn-primary btn-lg btn-chart-type" ng-click="chartTypeBtn('Scatter')" data-dismiss="modal">Scatter</button>
                </div>
              </div> 
            </div>
            <div class="modal-footer">
              <div>
                <br>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of Button Modal-->

          <div id="xSelectModal" class="modal fade" role = "dialog">
            <div class="modal-dialog">
              <div class="modal-content" class="categories">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss = "modal">&times;</button><!-- close icon-->
                </div>
                <div class="modal-body">
                  <h3 align="center">Select Category Column</h3>
                  <h5>File:</h5>
                  <h5>{{fileName}}</h5>
                  <h5>Chart Type: {{chartType}}</h5>
                  <hr>
                  <div class="categories-box">
                    <h5>Select a category field:</h5>

                    <div class="btn-group btn-group-vertical btn-group-xs" data-toggle="buttons">
                      <label class="btn btn-info" ng-repeat="col in fileColumns">
                        <input type="radio" name="xsel" value="{{col}}" autocomplete="off" class="xRadio">{{col}}
                      </label>
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                  <div>
                    <br>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#buttonModal">Back</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="xSelBtn()">Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of Column X-Selection Modal-->

          <div id="ySelectModal" class="modal fade" role = "dialog">
            <div class="modal-dialog">
              <div class="modal-content" class="categories">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss = "modal">&times;</button><!-- close icon-->
                </div>
                <div class="modal-body">
                  <h3 align="center">Selected Value Column</h3>
                  <h5>File:</h5>
                  <h5>{{fileName}}</h5>
                  <h5>Chart Type: {{chartType}}</h5>
                  <hr>
                  <div class="categories-box">
                    <h5>Select a data field:</h5>

                    <div class="btn-group btn-group-vertical btn-group-xs" data-toggle="buttons">
                      <label class="btn btn-info" ng-repeat="col in dispYCols">
                        <input type="radio" name="ysel" value="{{col}}" autocomplete="off" class="yRadio">{{col}}
                      </label>
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                  <div>
                    <br>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#xSelectModal">Back</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ySelBtn()">Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of Column Y-Selection Modal-->

          <div id="legendSelectModal" class="modal fade" role = "dialog">
            <div class="modal-dialog">
              <div class="modal-content" class="categories">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss = "modal">&times;</button><!-- close icon-->
                </div>
                <div class="modal-body">
                  <h3 align="center">Selected Legend Column</h3>
                  <h5>File:</h5>
                  <h5>{{fileName}}</h5>
                  <h5>Chart Type: {{chartType}}</h5>
                  <hr>
                  <div class="categories-box">
                    <h5>Select a legend field:</h5>

                    <div class="btn-group btn-group-vertical btn-group-xs" data-toggle="buttons">
                      <label class="btn btn-info" ng-repeat="col in dispLegendCols">
                        <input type="radio" name="legendsel" value="{{col}}" autocomplete="off" class="legendRadio">{{col}}
                      </label>
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                  <div>
                    <br>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#ySelectModal">Back</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="legendSelBtn()">Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of Column Legend-Selection Modal-->

          <div id="confirmModal" class="modal fade" role = "dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss = "modal">&times;</button><!-- close icon-->
                </div>
                <div class="modal-body" >
                  <h3 align="center">Confirm</h3>
                  <h5>File:</h5>
                  <h5>{{fileName}}</h5>
                  <h5>Chart Type: {{chartType}}</h5>
                  <hr>
                  <h5>Columns selected:</h5>
                  <div ng-repeat="col in user.xcols">
                    Category Column Selected: {{col}}
                  <br>
                  </div>
                  <div ng-repeat="col in user.ycols">
                    Category Value Selected: {{col}}
                  <br>
                  </div>
                  <div ng-repeat="col in user.legendcol">
                    Category Legend Selected: {{col}}
                  <br>
                  </div>
                </div>
                <div class="modal-footer">
                  <div>
                    <br>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmBackBtn()">Back</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="create_graph(chartType)">Generate Visual!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of Confirm Selection Modal-->

          <div id="visualModal" class="modal fade" role = "dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body" id="graph">
                <!-- Graph goes here-->
                </div>
                <div class="modal-footer">
                  <div>
                    <br>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#confirmModal">Back</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of Visual Display Modal-->
    </div>
</body>
</html>